.navbar {
  height: 6rem;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.navbar h1 {
  font-family: 'Edu AU VIC WA NT Hand', cursive;
  font-size: 3rem;
  font-weight: 500;
}

.navbar span {
  font-size: 3rem;
  color: black;
}
